@mixin glowyLink {
    background: none;
    padding: 0;
    border: none;
    color: var(--text);
    transition: 0.25s text-shadow, 0.25s font-weight;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
        text-shadow: 0 0 10px var(--text);
        font-weight: bolder;
    }
}
.glowyLink {
    @include glowyLink;
}

@mixin navigationLink($chevronDisplay: block) {
    width: 100%;
    padding-left: 1.5em;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-right: 0;

    text-align: left;
    font-size: 18px;
    background:none;
    border: none;
    color: var(--text);
    font-family: var(--font-family);
    font-weight: 600;

    transition: 0.125s background, 0.125s font-weight;

    cursor: pointer;


    --background: transparent;
    --background-hover: rgba(255,255,255,0.2);

    &:first-of-type {
        --background: var(--accent);
        --background-hover: var(--accent-light);
    }

    background: var(--background);

    &:hover {
        background: var(--background-hover);
        font-weight: 750;
        &::after {
            font-weight: 800;
        }
    }

    &::after {
        content: "arrow_right_alt";
        font-family: "Material Symbols Outlined";
        font-weight: 300;
        float: right;
        margin-right: 1em;
        display: $chevronDisplay;
    }
}
.navigationLink {
    @include navigationLink;
}

input[type=text],input[type=password] {
    border: none;
    background: var(--input-background-color);
    color: var(--text);
    width: calc(100% - 3em);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 600;
    box-shadow: 0 0 5px var(--input-background-color);
    -webkit-app-region: none !important;
}

@mixin actionButton {
    --button-background-color-hover: var(--button-hover-background-color);
    background: var(--button-background-color);
    border: none;
    color: var(--text);
    font-size: 18px;
    font-family: var(--font-family);
    cursor: pointer;
    transition: 0.125s background, 0.125s font-weight;
    vertical-align: sub;
    height: 28px;
    text-decoration: none;
    i {
        vertical-align: bottom;
    }
    &.glowing {
        background: var(--accent);
        --button-background-color-hover: var(--accent-light);
    }
    &:hover {
        background: var(--button-background-color-hover);
        font-weight: bolder;
    }
}

.actionButton {
    @include actionButton;
}
#runButton {
    background: hsl(var(--pid),87%,40%);
    &:hover {
        background: hsl(var(--pid),87%,42%);
    }
}

.outlinedBtn {
    font-family: var(--font-family);
    border: 2px solid var(--text);
    background: transparent;
    color: var(--text);
    font-size: 18px;
    border-radius: 25px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s background, 0.2s color;
    cursor: pointer;
    margin-right: 0.5em;
    font-weight: 600;
    align-items: center;
    display: inline-flex;
    --hoverColor: var(--app-background-color);
    &.danger {
        --text: var(--danger);
        font-weight: 500;
    }
    .material-symbols {
        font-size: 21px;
        margin-right: 3px;
    }
    &:hover {
        background: var(--text);
        color: var(--hoverColor);
    }

}



@keyframes glow {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
@mixin glowing {
    animation: glow 1s ease-in-out infinite;
}
.glowing {
    @include glowing;
}
/*
button:hover,a:hover {
    .material-symbols {
        font-variation-settings: "FILL" 1;
    }
}*/

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes disappear {
    0% {
        opacity: 1;
    }
    99% {
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.visible {
    animation: appear 0.2s ease-in-out;
}
.invisible {
    animation: disappear 0.2s ease-in-out;
    animation-fill-mode: forwards;
    pointer-events: none;
}